.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid lightgray;
  padding: 10vh 5vw;
  border-radius: 16px;
}

.sign-in {
  grid-column: span 2;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
}

.log-in-username {
  margin-bottom: 32px;
  margin-right: 16px;
}


.log-in-password {
  margin-bottom: 16px;
  margin-right: 16px;
}

.log-in-button {
  font-weight: normal;
  color: #F4F4F4;
  background-color: #424242;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  width: fit-content;
  justify-self: end;
}

.input {
  margin-bottom: 16px;
  justify-self: end;
  align-self: start;
  width: 160px;
  height: 19px;
  border: 1px solid lightgray;
}